paddlepaddle-gpu==2.6.1.post120 -f https://www.paddlepaddle.org.cn/whl/linux/cudnnin/stable.html
paddleocr>=2.0.1
tensorflow
pika
google-cloud-storage
python-dotenv
sqlmodel
SQLAlchemy-Utils
sqlalchemy-json
python-multipart
pdf2image
requests